#Twitter Application ID and Secret.
TWITTER_CONSUMER_KEY=''
TWITTER_CONSUMER_SECRET=''
TWITTER_ACCESS_TOKEN_KEY=''
TWITTER_ACCESS_TOKEN_SECRET=''
MONITORED_PLACE_WOEID='23424768' #BRAZIL
MONITORED_PLACE_GEOCODE='-10.183056,-48.333611,2500km' #BRAZIL
MONITORED_PLACE_LANG='pt' #PORTUGUESE
MONGO_DBNAME='Brasil_TT_Tweets'
